nav li, a , button{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: black;
	text-decoration: none;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%
}
.logo{
	
	width: 50px;
	height: 50px;
}
.navlink{
	
	list-style: none;
}.navlink li{
	display: inline-block;
	padding: 0px 20px;
}
.navlink li a {
	transition: all 0.3 ease 0s;
}
nav li a:hover{
	color: blue;
}
.navBtn{
	padding: 9px 25px;
	background-color: (0,136,168,1);
	border:none;
	border-radius:50px;
	cursor: pointer;
	transition: all 0.3 ease 0s;

}
.navBtn:hover{
    color: blue;
}
.info{
	display: grid;
	grid-gap: 2.5em;
	background-image: linear-gradient(to bottom right, grey,silver,white);
	height: 600px;
	background-repeat: no-repeat;
	
}
.top{
	padding-top: 100px;
	text-align: center;
	align-items: center;
}
.toptext{
	text-align: center;
}
.text-box{
	font-family: 'Noto Sans JP', sans-serif;
	width :400px;
	margin:0 auto;
	
}
.wrapper{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-auto-rows: minmax(100px,auto);

  /*
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  */
  grid-gap: 1em;
}
.wrapper > div{
    background: #eee;
    padding: 1em;

}
.wrapper > div:nth-child(odd){
	background-color: #ddd;
}
.nested{
	display: grid;
	grid-template-columns: repeat( 3 ,1fr);
    grid-auto-rows: minmax(100px,auto);
	grid-gap: 1em;

}
.nested > div{
	border: black 1px solid;
    padding: 1em;
}
.nested p{
	text-align: center;
}
.nested div:hover{
	color:white ;
	background-color:black ;
}
.den{
	text-align: center;
	padding-top: 150px;
	text-transform: uppercase;
  
 
}
.wrapper2{
	  display: table;
     
	
	

}

form{
	position: absolute;
	left: 50%;
	
}

legend{
	text-align: center;
}
button,input{
	box-sizing: border-box;
	
}
input{
	width: 250px;
	height: 40px;
}


